In [62]:
import numpy as np
import pandas as pd 
pd.__version__

'2.2.2'

In [45]:

# wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

car_df = pd.read_csv('data/car_fuel_efficiency.csv', sep=',')
display(car_df.head(3))
display(car_df.shape)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341

(9704, 11)

In [34]:
display(f'Number of fuel types - {car_df['fuel_type'].nunique()}')

'Number of fuel types - 2'

In [30]:
print("\nMissing values per column:")
missing_count = car_df.isnull().sum()
missing_cols = missing_count[missing_count > 0]
print("Number of columns with missing values:", len(missing_cols))
print("\nColumns with missing values:")
print(missing_cols)

Missing values per column:
Number of columns with missing values: 4

Columns with missing values:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [33]:
display(f"Max fuel efficiency - {round(car_df[car_df['origin'] == 'Asia']['fuel_efficiency_mpg'].max(), 2)}")

'Max fuel efficiency - 23.76'

In [48]:
display(f"The median value of the horsepower column - {round(car_df['horsepower'].median(), 3)}")

'The median value of the horsepower column - 149.0'

In [53]:
car_df['horsepower'] = pd.to_numeric(car_df['horsepower'], errors='coerce')

display(f"The median value of the horsepower column - {round(car_df['horsepower'].median(), 3)}")
display(f"The most frequent value of the horsepower - {car_df['horsepower'].mode()[0]}")

# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
car_df['horsepower_new'] = car_df['horsepower'].fillna(car_df['horsepower'].mode()[0])

# Now, calculate the median value of horsepower once again.
display(f"The median value of the horsepower column - {round(car_df['horsepower_new'].median(), 2)}")

'The median value of the horsepower column - 149.0'

'The most frequent value of the horsepower - 152.0'

'The median value of the horsepower column - 152.0'

In [65]:
X = car_df[car_df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].iloc[:7]
XTX =  X.T@X
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv @ X.T @ y

w_sum = w.sum().round(3)
print(w_sum)

0.519